
<br /><br />

<div class="row">
    <div class="col-lg-offset-1 col-lg-6">
            <div class="col-lg-12 box-header with-border">  
                    <div class="form-group voffset row">  
                        <label for="" class="vertical-label  lbl-employee padding-0"> Select Employee</label>  
                        <div class="col-sm-8 col-md-6 padding-0">  
                            <select id="Id"   class="hideLabel form-control" [(ngModel)]="employeeId" name="id" (change)="onSelectEmployee();">  
                                 <option [value]="employee.id" *ngFor="let employee of employees"  >  
                                     {{employee.name}}  
                              </option>  
                         </select>  
                        </div>  
                    </div>  
                </div> 
    </div>
    <div class="col-lg-4 text-right">
        <input type="button" class="add-row" value="+" (click)="addRow()" />
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
            <table class="table table-border tbl-task">
                    <tr>
                        <th>Task Name</th>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thurday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let item of timeSheet; let i = index" >
                        <td [ngClass]="{'hidden': editIndex == i}" >{{item.taskName}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.sunday}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.monday}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.tuesday}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.wednesday}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.thursday}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.friday}}</td>
                        <td [ngClass]="{'hidden': editIndex == i}">{{item.saturday}}</td>
                        
                        <td  [ngClass]="{'hidden': editIndex != i}">
                            <div class="box-header with-border" class="drp-employee">  
                                    <div class="form-group voffset row">  
                                        <div class="">  
                                            <select id="Id"   class="hideLabel form-control" [(ngModel)]="taskTimeSheet.taskId" name="taskId" >  
                                                 <option [value]="task.id" *ngFor="let task of tasks">  
                                                     {{task.name}}  
                                              </option>  
                                         </select>  
                                        </div>  
                                    </div>  
                                </div> 
                
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="sunday" [(ngModel)]="taskTimeSheet.sunday" />
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="monday" [(ngModel)]="taskTimeSheet.monday" />
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="tuesday" [(ngModel)]="taskTimeSheet.tuesday" />
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="wednesday" [(ngModel)]="taskTimeSheet.wednesday" />
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="thursday" [(ngModel)]="taskTimeSheet.thursday" />
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="friday" [(ngModel)]="taskTimeSheet.friday" />
                        </td>
                        <td [ngClass]="{'hidden': editIndex != i}">
                            <input type="number"  [name]="saturday" [(ngModel)]="taskTimeSheet.saturday" />
                        </td>
                        <td>
                            <input type="button" [ngClass]="{'hidden': editIndex == i}" class="btn btn-primary" (click)="editTask(item,i)" value="Edit"/>
                            <input type="button" [ngClass]="{'hidden': editIndex != i}" class="btn btn-success" (click)="editTaskSubmit(i)" value="Save">
                        </td>
                
                    </tr>
                    <tr *ngIf="timeSheet.length !== 0">
                            <td>Total</td>
                            <td>{{footer.TotalSunday}}</td>
                            <td>{{footer.TotalMonday}}</td>
                            <td>{{footer.TotalTuesday}}</td>
                            <td>{{footer.TotalWednesday}}</td>
                            <td>{{footer.TotalThursday}}</td>
                            <td>{{footer.TotalFriday}}</td>
                            <td>{{footer.TotalSaturday}}</td>
                            <td></td>
                    </tr>
                       
                    <tr *ngIf="timeSheet.length == 0">
                        <td colspan="9" style='text-align: center'>No Record Available</td>
                    </tr>
                </table>
    </div>
</div>
<hr/>
<div class="row">
        <div class="col-lg-10 padding-0">
                <a href="#" class="btn btn-primary pull-right" routerLink="/employees" >Back To List</a> 
        </div>
        <div class="col-lg-1 text-left">
                <input type="button" class="btn btn-primary" (click)="saveTimeSheet()" value="Save" /> 
        </div>
    </div>

