.hidden{display:none;}

.title {text-align: center;width: 100%;}
.drp-employee {width:150px;}
.tbl-task input[type='text'] , 
.tbl-task input[type='number'] {  padding: 5px;width: 100px;}
.padding-0{padding: 0px;}
.add-row {border-radius: 15px;border: 1px solid black;font-size: 20px;}
.lbl-employee {line-height: 29px;width: 125px;
    float: left;
    margin: 0px;}





