<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees" (click)="navigateToList(item.id)">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{GetEmployeeHours(item.taskHours)}}</td>
        <td>{{GetEmployeeHours(item.taskHours)/7 | ceil}}</td>
    </tr>
</table>