h1{
    color: grey
}

.table {
    border-collapse: collapse;
    width: 100%;
    td, th{
        border: 1px solid #ddd;
        padding: 7px;
    }  
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1c6ca5;
        color: white;
      }
      tr:hover {background-color: #ddd;}
  }
  .edit-task {display:none;}
  