<h1>Employee List</h1>

<style>.hidden{display:none;}</style>

<table class="table table-border">
    <tr>
        <th>Task Name</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thurday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr *ngFor="let item of tasks; let i = index" >
        <td [ngClass]="{'hidden': editIndex == i}">
            <input type="button"  (click)="editTask(item,i)" />edit</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.TaskID}}</td>
        
        <td [ngClass]="{'hidden': editIndex == i}" >{{item.TaskName}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Sunday}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Monday}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Tuesday}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Wednesday}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Thurday}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Friday}}</td>
        <td [ngClass]="{'hidden': editIndex == i}">{{item.Saturday}}</td>

        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text" class="input-control input"  [name]="taskID" [(ngModel)]="task.TaskID" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="taskName" [(ngModel)]="task.TaskName" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="sunday" [(ngModel)]="task.Sunday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="monday" [(ngModel)]="task.Monday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="tuesday" [(ngModel)]="task.Tuesday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="wednesday" [(ngModel)]="task.Wednesday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="thursday" [(ngModel)]="task.Thurday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="friday" [(ngModel)]="task.Friday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
            <input type="text"  [name]="saturday" [(ngModel)]="task.Saturday" />
        </td>
        <td [ngClass]="{'hidden': editIndex != i}">
           <input type="button" (click)="editTaskSubmit(i)">
        </td>


        <!-- <div>
            <div *ngIf="editing">
              <input [required]="required" (blur)="onBlur($event)" [name]="value" [(ngModel)]="value" [placeholder]="label" />
            </div>
            <div *ngIf="!editing">
              <a href="#" (click)="beginEdit(value)" (focus)="beginEdit(value)" tabindex="0">{{value}}</a>
            </div>
          </div> -->

    </tr>
    <tr *ngIf="tasks.length == 0">
        <td colspan="3">No Data</td>
    </tr>
</table>
